.content {
  width: 100% !important;
  overflow-x: hidden;
  padding-bottom: 10vh;
}

.footer{
  position: fixed !important;
  height: 8vh !important;
  z-index: 1020;
  width: 100%;
  bottom: 0;
  left: 0;

  padding: 0.5rem !important;
}

.header{
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;

  padding: 0.5rem !important;
}

.horizontalCenter {
  margin-left: auto ;
  margin-right: auto ;
}

.fitContent{
  width: fit-content;
}
